:root {
    --primary: #E55244;
    --primary-dark: #cf3d30;
    --primary-light: #fc968d;
    --secundary: #FCB149;
    --secundary-dark: #ffa82e;
    --secundary-light: #f5e4b8;

    --modal-primary: #5DAFFF;
    --modal-primary-light: #c4e1ff;

    --special: 'Alfa Slab One', cursive;
    --title: 'Roboto', sans-serif;
    --text: 'Gantari', sans-serif;
}