* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
.body {
    width: 100% !important;
}
/*******************************************
*****HEADER*********************************
*******************************************/
#header {
    background-color: transparent;
    width: 100%;
    overflow-x: hidden;
    position: fixed;
    z-index: 50;
    background-color: #fff;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    padding: 8px;
}
#header .container {
    width: 80%;
}

#header .navbar-collapse {
   width: 30%;
}

#header .nav-link {
    text-transform: uppercase;
    font-weight: 500;
    padding:  0 5px 5px 0;
    margin: 0 15px;
    color: #000;
    transition: 0.5s;
    border-bottom: 3px solid transparent;
}
#header .nav-link:hover {
    border-bottom: 3px solid #000;
    
}

.button-mobile {
    display: none;
}

.logo-img {
    height: 140px;
    width: 140px;
}

#header .navbar-toggler-icon {
    color: #000;
}

/*******************************************
*****CONTEÚDO-1*****************************
*******************************************/
#content-1 {
    height: 80vh;
    background-color: #ffefcc;
}

#description {
    position: absolute;
    top: 26%;
    left: 15%;
    width: 35%;
}

#girl {
    position: absolute;
    top: 10%;
    right: 10%;
    height: 650px;
}

#clock {
    position: absolute;
    height: 150px;
    left: -20%;
    top: -60%;
    transform: rotate(195deg);
    filter:blur(1px);
    z-index: 1;
}

#day {
    position: absolute;
    height: 200px;
    right: -15%;
    bottom: -60%;
    filter: blur(1.5px);
}


#description h1 {
    position: relative;
    font-family: var(--special);
    font-size: 48px;
    margin: 0;
    z-index: 10;
    color: #E76E58;
    text-shadow: 3px 3px 0px #EAA457;
}
#description h2 {
    position: relative;
    font-family: var(--title);
    font-weight: 1000;
    text-transform: uppercase;
    font-size: 18px;
    margin: 0;
    z-index: 10;
    color: #EAA457;
}
#description p {
    position: relative;
    font-family: var(--text);
    font-size: 18px;
    margin: 25px 0;
    z-index: 10;
    color: #EAA457;
}

#description span {
    text-decoration: underline;
    font-family: 'Gantari', sans-serif;
}
#description .go-to {
    width: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#description a {
    color: #E76E58;
    font-weight: 500;
    font-size: 26px;
    font-family: var(--special);
    text-decoration: underline;
    padding: 0px 15px 0px 0px;
}
#description i {
    color: #E76E58;
}
/*******************************************
*****CONTENT-2******************************
*******************************************/
#content-2 {
    padding: 50px 0;
    height: auto;
    width: 100%;
    text-align: center;
    background-image: linear-gradient(to bottom right, #F0F2F2, #B2B8E1);
}
#content-2 h2{
    font-weight: 500;
    font-family: var(--text);
}

#list {
    padding: 20px;
    width: 60%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: left;
}

#list .card {
    min-width: 25%;
    box-shadow: 0px 30px 50px 1px rgba(0, 0, 0, 0.205);
}

#list .card-body {
    padding: 30px;
}

.card.secundary {
    top: 25px;
    height: 330px;
}

.card .plus {
    padding: 1px 10px;
    border-left: 4px solid #a4ace2;
    background-color: #b6bbe01f;
}

/*******************************************
*****CONTENT-3******************************
*******************************************/
#content-3 {
    padding-top: 50px;
    width: 100%;
    height: auto;
}
#content-3 h2 {
    text-align: center;
    font-weight: 500;
    font-family: var(--text);
}
#team {
    padding: 30px 0;
    width: 80%;
    height: auto;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    overflow: hidden;
}
#team .card {
    width: 300px;
    height: 450px;
    margin: 30px;
    transition: 0.3s;
}
#team .card:hover {
    transform: scale(115%);
}

#team .card-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    padding: 10px;
}

#team .card-body p {
    margin-left: 5px;
}
#team .card img {
    width: 100%;
    height: 100%;
}

/*******************************************
*****CONTENT-4******************************
*******************************************/
#content-4 {
    text-align: center;
    margin: 50px;
    padding: 50px 0;
}

#content-4 h2 {
    font-weight: 500;
    font-family: var(--text);
}
#map {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 80%;
    margin: 25px;
}

/*******************************************
*****CONTENT-5******************************
*******************************************/
#content-5 {
    background-color: #1F1C33;
    padding: 100px 0;
}

#remember {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fafafa;
}
#remember h1 {
    font-family: var(--text);
}
#remember button {
    padding: 10px;
    border-radius: 10px;
    font-weight: 1000;
    cursor: pointer;
    width: 150px;
    font-family: 'Roboto', sans-serif;
    outline: none;
}
/*******************************************
*****  FOOTER  *****************************
*******************************************/
footer {
    padding: 50px 0 5px 0;
}
#footer {
    display: flex;
    position: relative;
    align-items: center;
    left: 50%;
    transform: translate(-50%);
    width: 80%;
}

#footer .copy {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 20px;
}
#footer .social {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 10%;
    display: flex;
    justify-content: space-between;
}
#footer .fa-brands {
    color: #1F1C33;
    cursor: pointer;

}
/*******************************************
*****MODAL**********************************
*******************************************/
.modal {
    position: absolute;
    top: 10%;
}
.modal-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 40px 70px 50px 70px;
    background-color: #fafafa;
}
.modal-header {
    justify-content: center;
    align-items: center;
    font-family: var(--text);
}
.modal-header button {
    position: absolute;
    top: 0;
    right: 50px;
}
.modal-header h2 {
    align-self: center;
}
.modal form {
    width: 100%;
    height: 100%;
}
label {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    
}

#label-check {
    font-family: var(--text);
    text-transform: none;
    font-weight: 500;
}
.modal input:focus {
    border-color: var(--modal-primary);
    box-shadow: 0 0 0px 5px var(--modal-primary-light);
}
.modal button {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-top: 30px;
}

#createAccountContent .form-group {
    margin: 15px;
}