* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
.body {
  width: 100% !important;
}
/*******************************************
*****HEADER*********************************
*******************************************/
#header {
  position: fixed;
  width: 100%;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #431b79, #7531d6, #9f65f7);
  z-index: 10;
  overflow: visible;
}
#container-header {
  position: relative;
  width: 70%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  overflow: visible;
}

#user {
  list-style: none;
  border-radius: 8px;
  margin: 0;
  padding: 0;
  color: #fff;
}
#icon-option i {
  margin: 0 10px;
  cursor: pointer;
  padding: 15px 8px;
  border-radius: 0 8px 8px 0;
  color: #fff;
}
#user-options {
  position: absolute;
  padding: 10px 20px;
  width: 150px;
  list-style: none;
  display: flex;
  display: none;
  flex-direction: column;
  background-color: #fff;
  border-radius: 8px;
  right: 18px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#logo {
  position: relative;
  height: 130px;
}

#user-options li {
  text-align: end;
}
#user-options li:hover {
  text-align: end;
  font-weight: bolder;
}
#user-options li a {
  text-decoration: none;
  color: #000 !important;
}

/******************************************
******FOOTER*********************************
*******************************************/

#footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(90deg, #431b79, #7531d6, #9f65f7);
  color: #fff;
  padding: 40px 0 20px 0;
  margin: 100px 0 0 0;
}

#footer p {
  text-shadow: 1px 2px rgb(35, 0, 100);
}

#footer a {
  color: #fff;
  text-shadow: 2px 2px rgb(35, 0, 100);
}

.social i {
  margin: 20px 10px;
  cursor: pointer;
}

/*******************************************
*****LANDING PAGE***************************
*******************************************/
#indexContainer {
  position: relative;
  height: auto;
  background-color: #fff;
}
#indexTop {
  position: relative;
  display: flex;
  flex-direction: column;
  background: linear-gradient(90deg, #431b79, #7531d6, #9f65f7);
  height: auto;
  padding: 0 0 300px 0;
  margin: 0;
}
#show {
  position: relative;
  top: 20%;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  width: auto;
  height: auto;
  font-size: 55px;
  color: #fff;
  margin: 150px 0 0 0;
}

#show h1 {
  font-family: var(--special);
  font-size: 55px;
  text-shadow: 4px 3px rgb(35, 0, 100);
  letter-spacing: 2px;
  line-height: 1.1;
}
#show h2 {
  color: rgb(35, 0, 100);
  font-family: var(--title);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 25px;
  margin: 0;
}
#show p {
  color: #fff;
  text-shadow: 1px 2px rgb(35, 0, 100);
  font-family: var(--text);
  font-size: 25px;
  margin: 25px 0;
}

#index-waves {
  display: flex;
  position: absolute;
  bottom: 0;
}

#index-line {
  position: relative;
  height: 1px;
  width: 70%;
  left: 50%;
  transform: translate(-50%);
  background-color: rgba(0, 0, 0, 0.25);
  margin: 50px 0;
}

#instagran-frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  font-family: var(--text);
}

#local-frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  font-family: var(--text);
}

/*menu bar*/
#cover-menubar.hide,
#side-menubar.hide {
  opacity: 0;
  pointer-events: none;
}

#cover-menubar,
#side-menubar {
  opacity: 1;
  pointer-events: all;
  transition: 0.3s;
}

#side-menubar.hide {
 transform: translate(50%);
}

#cover-menubar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.418);
  z-index: 10;
}

#side-menubar {
  display: flex;
  position: fixed;
  flex-direction: column;
  right: 0;
  height: 100vh;
  width: 250px;
  padding: 0 20px;
  background-color: #fff;
  z-index: 20;
}

#close-menu {
  display: flex;
  cursor: pointer;
  float: left;
  margin-top: 30px;
}

.menu-itens {
  position: absolute;
  list-style: none;
  width: 200px;
}
.bottom-item {
  bottom: 10px;
}

.top-item {
  top: 50px;
}
.menu-itens li {
  font-family: montserrat;
  font-weight: 350;
  font-size: 22px;
  display: flex;
  gap: 10px;
  align-items: center;
  height: 40px;
  width: 200px;
  cursor: pointer;
  margin: 20px 0;
}

.menu-itens li i {
  margin-right: 10px;
}
/*******************************************
*****LOGIN PAGE******************************
*******************************************/

#login {
  width: 25vw;
  height: 55vh;
  height: auto;
  min-width: 400px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 10px;
  background-color: #fff;
  z-index: 100;
}

#loginPage h1 {
  font-family: Montserrat;
  font-weight: 500;
  margin-bottom: 30px;
  color: #000;
}
#loginPage form {
  width: 100%;
}
#loginPage .form-group {
  margin: 0;
  width: 100%;
}
#loginPage .form-group label {
  margin-top: 10px;
  font-family: var(--text);
  font-size: 18px;
}

#loginPage input {
  font-family: var(--text);
}
#loginPage .form-control {
  width: 100%;
}

#loginPage .buttons-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}

#createAccount {
  width: auto;
  height: auto;
  padding: 40px 60px;
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 10px;
  background-color: #fff;
  z-index: 100;
}

#createAccount .span-required {
  visibility: hidden;
  color: var(--error-color);
}

/*******************************************
*****SCHEDULING PAGE************************
*******************************************/
#form_agenda {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 50%;
  left: 50%;
  transform: translate(-50%);
}

#form_agenda label:hover {
  background-color: rgb(128, 78, 228);
  color: #fff;
}

#form_agenda label span {
  z-index: 1;
}

#form_agenda label input[type="radio"] {
  all: unset;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#form_agenda label input[type="radio"]:checked {
  background-color: rgb(128, 78, 228);
  border-radius: 8px;
}

#form_agenda label input[type="radio"]:checked + span {
  color: #fff;
}

/*servico*/
#container-servico {
  position: relative;
  display: flex;
  top: 80px;
  left: 50%;
  transform: translate(-50%);
  width: 60%;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

#container-servico label {
  background: #fff no-repeat center center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 50px;
  min-width: 140px;
  padding: 0 10px;
  margin: 0 10px;
  transition: 0.5s;
  border-radius: 8px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  font-weight: bolder;
}

/*funcionario*/
#container-funcionario {
  position: relative;
  display: flex;
  top: 80px;
  left: 50%;
  transform: translate(-50%);
  width: 60%;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

#container-funcionario label {
  background: #fff no-repeat center center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 50px;
  min-width: 120px;
  padding: 0 10px;
  margin: 0 10px;
  transition: 0.5s;
  border-radius: 8px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  font-weight: bolder;
}

/*dia*/

#container-dia {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  top: 80px;
  left: 50%;
  transform: translate(-50%);
  width: 60%;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px 0;
}

#container-dia label {
  background: #fff no-repeat center center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 50px;
  min-width: 50px;
  padding: 0;
  margin: 10px;
  transition: 0.5s;
  border-radius: 8px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  font-weight: bolder;
}

/*hora*/

#container-hora {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  top: 80px;
  left: 50%;
  transform: translate(-50%);
  width: 60%;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px 0;
}

#container-hora label {
  background: #fff no-repeat center center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 50px;
  min-width: 50px;
  padding: 0;
  margin: 10px;
  transition: 0.5s;
  border-radius: 8px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  font-weight: bolder;
}
/*Finalizar*/
#container-confirmar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  top: 80px;
  left: 50%;
  transform: translate(-50%);
  width: 60%;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px 0;
}

/*******************************************
*****ADMIN PAGE*****************************
*******************************************/
.yellow-button {
  background-color: rgb(255, 208, 0);
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  margin: 0 10px;
  color: #000;
}
.red-button {
  background-color: rgb(218, 40, 40);
  padding: 10px 12px;
  border-radius: 8px;
  cursor: pointer;
  margin: 0 10px;
  color: #000;
}
.green-button {
  background-color: rgb(21, 170, 58);
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  margin: 0 auto;
  color: #000;
  font-weight: bolder;
}
.flex {
  display: flex;
}
#header-master-admin {
  display: relative;
}

#header-admin {
  position: relative;
  padding-top: 100px;
  padding-bottom: 50px;
  width: 100%;
  display: flex;
  height: 65px;
  background: linear-gradient(90deg, #431b79, #7531d6, #9f65f7);
  justify-content: center;
  align-items: center;
}

#admin-items {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
}

#admin-items a {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 10%;
  margin: 0 auto;
  cursor: pointer;
  color: #fff !important;
}

#admin-items a li {
  margin: 0;
  padding: 0;
}

#admin-items a:hover {
  text-decoration: underline 2px;
  font-weight: bold;
}

.container-admin {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  height: 75vh;
  width: 100%;
}

.container-edit {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  width: 80%;
  padding: 20px 0;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  z-index: 1000;
  text-align: center;
}

.container-edit h1 {
  margin: 10px 0;
}

/*Edit Funcionario*/
#fade.hide,
#modal-create-func.hide {
  opacity: 0;
  pointer-events: none;
}
#fade,
#modal-create-func {
  opacity: 1;
  pointer-events: all;
  transition: .4s;
}
#modal-create-func.hide {
  top: 0;
}

#fade {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.25);
}
#modal-create-func {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  height: auto;
  width: auto;
  padding: 40px 40px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
  rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border-radius: 8px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

#modal-create-func #modal-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#modal-create-func #close {
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
}

#modal-create-func hr {
  width: 118%;
  margin-bottom: 50px;
  background-color: rgba(0, 0, 0, 0.5);
}

#create-func-button {
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

#modal-add-servico-func {
  display: none;
  position: absolute;
  background: #fff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  height: auto;
  width: 30%;
  border-radius: 8px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 1000;
}

/* servico */
#table-servicos {
  width: 40%;
}

#green-button-servico {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

/*teste*/

#background-element {
  position: absolute;
  right: 0;
  width: 0;
  height: 0;
  border-top: 0 solid transparent;
  border-bottom: 100vh solid transparent;
  border-right: 2500px solid rgb(35, 0, 100);
  z-index: 1;
}

#background-element-2 {
  position: absolute;
  right: 0;
  width: 0;
  height: 0;
  border-top: 0 solid transparent;
  border-bottom: 50vh solid transparent;
  border-right: 1800px solid rgb(60, 17, 145);
  z-index: 2;
}

#background-element-3 {
  position: absolute;
  right: 0;
  width: 0;
  height: 0;
  border-top: 0 solid transparent;
  border-bottom: 85vh solid transparent;
  border-right: 900px solid rgb(90, 36, 199);
  z-index: 3;
}
#background-element-4 {
  position: absolute;
  right: 0;
  width: 0;
  height: 0;
  border-top: 0 solid transparent;
  border-bottom: 60vh solid transparent;
  border-right: 1000px solid rgb(127, 65, 252);
  z-index: 4;
}
